

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    font-family: 'Droid Sans';
	clear: both;
	font-size: 15px;
	line-height: 1.7em;
    color: #383838;
}

.container p {
    margin-bottom: 20px;
}

.container .post-body {
    line-height: 1.9;
    font-size: 16px;
}

    .container a, .container a:link, .container a:active, .container a:visited {
		font-weight: normal;
		text-decoration: none;
		color: #383838;
    }
    	
    .container .post-body a, .container a:link, .container a:active, .container a:visited 
    {
        border-bottom: 1px dotted #383838;
    }

    .container .post h1 a, .container .post h1  a:link, .container .post h1  a:active, .container .post h1 a:visited 
    {
        text-decoration: none;
        border-bottom: none;
    }

    .container a:hover
	{
		border-bottom: 1px dotted #383838;
	}

.archive
{
	padding-top: 30px;
}

	.archive ul li { list-style-type: none; }

	.archive td
	{
		padding: 0;
	}

		.archive td.year, .archive td.month, .archive td.posts
		{
			vertical-align: top;
			padding: 5px 0;
		}

		.archive td.year
		{
			font-size: 16px;
			line-height: 20px;
			text-align: right;
			width: 40px;
		}

		.archive td.month
		{
			font-size: 16px;
			font-weight: normal;
			line-height: 20px;
			padding-right: 10px;
			padding-bottom: 5px;
			text-align: right;
			width: 100px;
		}

		.archive td.day
		{
			font-size: 16px;
			vertical-align: top;
			padding: 6px 3px 0 3px;
			width: 20px;
		}

		.archive td.post
		{
			padding-top: 6px;
			padding-left: 5px;
			vertical-align: top;
		}

		.archive td.link
		{
            font-size: 16px;
		}

.topics
{
	margin-top: 40px;
}

ul.topic-toc
{
	display: block;
	padding-bottom: 50px;
}

	ul.topic-toc li
	{
		font-size: 18px;
		list-style-type: none;
		margin-top: 10px;
		margin-right: 20px;
		float: left;
	}

    .topics li {
        font-size: 16px;
        padding-bottom: 5px;
    }
    

.post h1,
.post h2,
.post h3,
.post h4
{
	font-family: 'Ubuntu Condensed', sans-serif;
	margin: 25px 0 0 0;
}


	.post h1,
	.post h2,
	.post h3,
	.post h4,
	.post h1 a, .post h1 a,
	.post h2 a, .post h2 a,
	.post h3 a, .post h3 a,
	.post h4 a, .post h4 a,
	.post h3 a, .post h3 a
	{
		font-size: 18px;
		font-weight: bold;
		color: #000;
	}


.post h1
{
	line-height: 1.2em;
	margin-bottom: 15px;
}

	.post h1,
	.post h1 a,
	.post h1 a:active,
	.post h1 a:visited
	{
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 30px;
		font-weight: normal;
		text-decoration: none;
		border-bottom: none;
	}

.post h2, .post h2 a
{
	font-size: 23px;
	font-weight: normal;
}

.post h3, .post h3 a
{
	font-size: 18px;
	font-weight: bold;
}

.post h4, .post h4 a
{
	font-size: 12px;
	font-weight: normal;
}

.post img.right
{
	float: right;
	max-width: 50%;
	margin: 0 0 10px 10px;
}

.post img
{
	clear: both;
	text-align: center;
	margin: 1em 0;
}


ul.nav.navbar-nav.navbar-right.social {
    margin-right: 10px;
}

ul.nav.navbar-nav.navbar-right.social li a {
    padding: 10px 3px 0 3px;
}

ul.nav.navbar-nav.navbar-right.social li img {
    width: 30px;
    opacity: 0.7;
}

ul.nav.navbar-nav.navbar-right.social li img:hover {
    opacity: 1;
}


/* Better styles for embedding GitHub Gists https://gist.github.com/jnrbsn/578379 */
.gist{font-size:13px;line-height:18px;margin-top:20px;margin-bottom:20px;width:100%}
.gist .gist-file .gist-data{background-color:transparent !important;}
.gist pre{font-family:Consolas,Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Consolas,Helvetica,Arial,sans-serif;font-size:10px !important;}
.gist-meta a{border-bottom: none;color:#26a !important;text-decoration:none}
.gist-meta a:hover{border-bottom: none;color:#0e4071 !important}


/* Pygments */
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
