{% capture target_url %}{% if page.link %}{{ page.link }}{% else %}{{ page.url }}{% endif %}{% endcapture %}


<div class="post">
    <a name="{{ page.url }}"></a>
    <h1>
        <a href="{{ target_url }}">{{ page.title }}</a>
        {% if page.link %}&#8640; <a style="float: right; margin-right: 10px;" href="{{ page.url }}">&#8734;</a>{% endif %}
    </h1>
    <div class="post-date hidden">{{ page.date | date: "%-d %B %Y" }}</div>

    <div class="post-body">
        {% if content %}
        {{ content }}
        {% else %}
        {{ page.content }}
        {% endif %}
    </div>

    <hr />

    {% include comments.html %}
</div>