{% capture target_url %}{% if page.link %}{{ page.link }}{% else %}{{ page.url }}{% endif %}{% endcapture %}

<a href="https://github.com/csim/csim.github.io/_posts/{{ page.path }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>


<div class="post">
    <a name="{{ page.url }}"></a>
    <h1>
        <a href="{{ target_url }}">{{ page.title }}</a>
        {% if page.link %}&#8640; <a style="float: right; margin-right: 10px;" href="{{ page.url }}">&#8734;</a>{% endif %}
    </h1>
    <div class="post-date hidden">{{ page.date | date: "%-d %B %Y" }}</div>

    <div class="post-body">
        {% if content %}
        {{ content }}
        {% else %}
        {{ page.content }}
        {% endif %}
    </div>

    <hr />

    {% include comments.html %}
</div>
