---
title: topics
layout: default
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<div class="topics">
    <ul class="topic-toc">
      {% for item in (0..site.tags.size) %}
        {% unless forloop.last %}
            {% capture this_tag %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
            <li><a href="#{{ this_tag | cgi_escape }}">{{ this_tag }}</a> ({{ site.tags[this_tag].size }})</li>
        {% endunless %}
      {% endfor %}
    </ul>

    <div class="archive clear">
        {% for item in (0..site.tags.size) %}
            {% unless forloop.last %}
                {% capture this_tag %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
                <h2 id="{{ this_tag | cgi_escape }}">{{ this_tag }}</h2>
                <ul>
                {% for post in site.tags[this_tag] %}
                    {% if post.title != null %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endunless %}
        {% endfor %}
    </div>
</div>

<br /><br />