<!-- generated {{ site.time | date_to_xmlschema  }} -->
{% capture browser_title %}{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% endcapture %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ browser_title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
    <meta name="google-site-verification" content="{{ site.webmaster_key }}" />

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Ubuntu+Condensed" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-static-top col-md-10 col-md-push-1 col-lg-8 col-lg-push-2" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Clint Simon</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li id="about"><a href="/about">about</a></li>
                <li id="topics"><a href="/blog/topics">topics</a></li>
                <li id="archive"><a href="/blog/archive">archive</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right social">
                <li>
                    <a href="http://www.facebook.com/{{ site.facebook_username }}"><img src="/images/facebook.png" class="img-rounded" alt="Facebook" /></a>
                </li>
                <li>
                    <a href="http://www.twitter.com/{{ site.twitter_username }}"><img src="/images/twitter.png" class="img-rounded" alt="Twitter" /></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/images/linkedin.png" class="img-rounded" alt="Linkedin" /></a>
                </li>
                <li>
                    <a href="http://github.com/{{ site.github_username }}"><img src="/images/github.png" class="img-rounded" alt="GitHub" /></a>
                </li>
                <li>
                    <a href="http://instagram.com/{{ site.instagram_username }}?ref=badge"><img src="/images/instagram.png" class="img-rounded" alt="Instagram" /></a>
                </li>
                <li>
                    <a href="/feed.xml"><img src="/images/rss.gif" class="img-rounded" alt="Feed" /></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                {{ content }}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>

    <script>
        (function(b, o, i, l, e, r)
        {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function() { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', '{{ site.analytics_id }}'); ga('send', 'pageview');
    </script>
</body>
</html>
