<!-- generated {{ site.time | date_to_xmlschema  }} -->
{% capture browser_title %}{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% endcapture %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{ browser_title }}
    </title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <!-- <link rel="apple-touch-icon" href="/favicon" /> -->

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />

    <meta charset="utf-8" />
    <meta name="title" content="{% if page.meta.title %}{{ page.meta.title }}{% else %}{{ page.title }}{% endif %}" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ page.meta.description }}" />

    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="google-site-verification" content="{{ site.webmaster_key }}" />

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Ubuntu+Condensed|Orbitron:400" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/base.css" />
</head>

<body>

    <div id="masthead">
        <div id="masthead-inner">
            <a href="http://www.twitter.com/{{ site.twitter_username }}"><img class="gravatar" src="{{ site.gravatar_url }}?s=80" /></a>
            <a class="title" href="/">{{ site.title }}</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span9 content">
              {{ content }}
          </div>

          <div class="span3 sidebar">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    {% for item in site.navigation %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <div class="social-icons">
                    <a href="http://www.facebook.com/{{ site.facebook_username }}"><img src="/images/facebook.png" style="width: 30px;" alt="Facebook" /></a>
                    <a href="http://www.twitter.com/{{ site.twitter_username }}"><img src="/images/twitter.png" style="width: 30px;" alt="Twitter" /></a>
                    <br />
                    <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}"><img src="/images/linkedin.png" style="width: 30px;" alt="Linkedin" /></a>
                    <a href="http://github.com/{{ site.github_username }}"><img src="/images/github.png" style="width: 30px;" alt="GitHub" /></a>
                    <br />
                    <a href="http://instagram.com/{{ site.instagram_username }}?ref=badge"><img src="/images/instagram.png" alt="Instagram" /></a>
                    <a href="/feed.xml"><img src="/images/rss.gif" style="width: 29px; height: 31px;" alt="Feed" /></a>
                    <br />
                </div>
                    <!--<a class="twitter-timeline" href="https://twitter.com/TechHike" data-widget-id="250295447481098241">Tweets by @@TechHike</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>-->
                </div>
            </div>

        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/base.js"></script>

    {% include analytics.html %}

</body>
</html>
